{% extends "base.html" %}

{% block title %}Books | My Library{% endblock %}

{% block content %}

<section class="library">

    <h1 class="library__title mb-4">My Library</h1>

    <div class="library__sorting mb-3">
        <a href="{{ url_for('home', sort='title') }}" class="btn btn-outline-primary {% if sort == 'title' %}active{% endif %}">
            Sort by Title
        </a>
        <a href="{{ url_for('home', sort='author') }}" class="btn btn-outline-primary {% if sort == 'author' %}active{% endif %}">
            Sort by Author
        </a>
        <a href="{{ url_for('home', sort='year') }}" class="btn btn-outline-primary {% if sort == 'year' %}active{% endif %}">
            Sort by year
        </a>
        <a href="{{ url_for('home', sort='newest') }}" class="btn btn-outline-primary {% if sort == 'newest' %}active{% endif %}">
            Show Books Published After 2000
        </a>
    </div>
    <div class="library__sorting mb-3">
        <form method="GET" class="mb-3">
            <div class="input-group" style="max-width: 400px;">
                <input
                    type="text"
                    name="search"
                    class="form-control"
                    placeholder="Search books..."
                >
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </form>
    </div>

    <div class="table-responsive library__table-wrapper">
        <table class="table table-striped table-hover align-middle ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Publication Year</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                    <tr class="library__book">
                        <td>{{ book.id }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>
                            <a href="{{ url_for('get_book', book_id=book.id) }}" class="link-primary text-decoration-none fw-semibold">
                                {{ book.title }}
                            </a>
                        </td>
                        <td>{{ book.publication_year }}</td>
                        <td>
                            <a href="{{ url_for('get_author', author_id=book.author.id) }}">
                                {{ book.author.name }}
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}" onsubmit="return confirm('Are you sure you want to delete this book?');">
                                <button type="submit" class="btn btn-danger">Delete book</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No books found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

{% endblock %}